@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
    /* Primary colors */
    --primaryGreen: #153F2D;
    --primaryYellow: #FFCE33;
    --primaryBlack: #464647;
    /* Secondary colors */
    --secondaryGreen: #E6EFDF;
    --secondaryWhite: #FBFBFB;
    --secondaryGray: #F0F0F0;
    --white: #FFFFFF;
    /* Font colors */
    --textOffColor: #757575;
    --linkColor: #153F2D;
    --fillColor: #C5E2D0;
    --buttonColor: #FFCE33;
    --backgroundGreen: #ffffff;
    /* Space between */
    --spaceBetweenElementsS: 15px;
    --spaceBetweenElements: 20px;
    --spaceBetweenTitleAndText: 25px;
    --spaceBetweenTextAndButtons: 30px;
    --spaceBetweenColumns: 40px;
    --spaceBetweenTextAndSection: 70px;
    --spaceBetweenBlocAndText: 100px;
    --spaceBetweenSections: 150px;
  }

  /* Fonts */
  .mainTitle, #kc-header-wrapper {
    color: var(--primaryBlack);
    line-height: 1em;
    font-size: 28px;
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 800
  }

  .secondaryTitle, #kc-page-title {
    color: var(--linkColor);
    line-height: 1em;
    font-size: 23px;
    font-family: "Open Sans";
    font-weight: 500;
  }

  .header {
    color: var(--primaryBlack);
    line-height: 1.1em;
    font-size: 28px;
    font-family: "Open Sans";
    text-transform: uppercase;
  }

  .regularText, .label-text, .control-label, #kc-locale-dropdown a {
    color: var(--textOffColor);
    line-height: 1.7em;
    font-size: 16px;
    font-family: "Open Sans";
  }
  
  .link, a {
    color: var(--linkColor);
    line-height: 1.7em;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 500;
  }

  /* Body */

  body {
    background: var(--white) !important;
    color: var(--primaryBlack);
    font-size: 18px;
    height: inherit!important;
    min-width: fit-content!important;
  }

  /* Buttons */
  .pf-c-button.pf-m-primary {
    background-color: var(--buttonColor);
  }

  .button, .btn-primary, .btn-lg {
    border: none;
    border-radius: 40px;
    padding: 20px 40px 20px 40px;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--white);
    font-family: "Open Sans";
    font-weight: 700;
    background: var(--buttonColor)!important;
  }

  /* .btn-primary:active:focus {
    outline: none;
    background: var(--primaryBlack) !important;
  } */

  .btn-primary:hover {
    outline: none;
    background: var(--buttonColor) !important;
    opacity: 0.8;
  }

  /* Card */
  .card, .card-pf {
    border-radius: 15px;
    box-shadow: none;
    padding: 30px, 30px, 30px, 30px;
    background: var(--backgroundGreen);
    max-width: 600px!important;
    margin: auto!important;
  }

  .form-group {
    margin-top: var(--spaceBetweenTextAndButtons);
    margin-bottom: var(--spaceBetweenTextAndButtons);
  }

  /* Input */
  .input, .form-control {
   /* Container */
    padding: 15px, 40px, 15px, 40px;
    background: var(--linkColor);
    opacity: 0.5;
    height: 3rem;
    /* Font: regularText */
    font-size: 16px;
    font-family: "Open Sans";
    color: var(--textOffColor);
    line-height: 1.7em;
    font-style: normal;
  }

  .pf-c-form-control {
    background: var(--fillColor);
    opacity: 0.5;
    border-radius: 10px!important;
    border: 1px solid rgba(0, 128, 0, 0.5);
    height: 3rem!important;
  }

  #kc-form-login {
    margin: 2rem;
  }

  #kc-form-options .toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 60px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--secondaryWhite);
  }

  #kc-form-options .dot {
    height: 100%;
    width: 200%;
    background: var(--textOffColor);
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }

  #rememberMe:checked ~ .dot {
    transform: translate3d(25%, 0, 0);
    background-color: var(--buttonColor);
  }

  #kc-form-options label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding-left: 8px;
  }

  #kc-form-options .label-text {
    margin-left: var(--spaceBetweenElementsS);
  }

  .alert-error {
    border-color: var(--primaryYellow)
  }

  .pficon-error-circle-o:before {
    color: var(--primaryYellow)
  }

   #logo {
    height: 100px;
  }

  .form-group input:hover {
    opacity: 0.6;
    border-color: var(--primaryGreen);
  }
  .form-group input:focus{
    outline-style: none;
    box-shadow: none;
    border-color: var(--primaryGreen);
  }

  .pf-c-dropdown__menu {
   display: none;
   margin-top: -4px;
  }

  .pf-c-dropdown__menu:hover {
   display: block;
  }

  #kc-locale-dropdown:hover .pf-c-dropdown__menu {
    display: block;
  }

  #kc-locale-dropdown {
    /*background-color: white;*/
    /*display: block;*/
    width: 100px;
    /*text-align: center;*/
    /*border-radius: 6px;*/
    /*border: 2px solid var(--linkColor);*/
    /*padding: 0.2rem;*/
  }

  .login-pf-page .login-pf-header {
    margin: 6rem 2rem;
  }
